[Unit]
Description=auth

[Service]
WorkingDirectory={{root}}
ExecStart={{java}} -Djava.security.egd=file:/dev/./urandom -jar {{root}}/{{jar}}
SuccessExitStatus=143
StandardOutput=null

[Install]
WantedBy=multi-user.target